html,
body {
	margin: 0;
	width: 100%;
	height: 100%;
}

body {
	background-image: url("./assets/Background.png");
	background-repeat: no-repeat;
}

.profile-photo {
	width: 48px;
	height: 48px;
}

.title {
	align-items: center;
	display: flex;
	justify-content: space-between;
	padding: 3px;
}

.container {
	width: 250px;
	flex-direction: column;
	display: flex;
	color: white;
	padding-top: 16px;
	padding-bottom: 16px;
	padding-left: 24px;
	padding-right: 24px;
	background: rgb(0 0 0 / 30%);
	border-style: solid;
	border-radius: 25px;
	border-width: 1px;
	border-color: rgb(255, 255, 255, 0.3);
	margin: 30px;
}

.icon {
	width: 16px;
	height: 16px;
	padding: 2px;
}

.person-name {
	font-family: Poppins;
	font-weight: bold;
}

.bold-text {
	font-size: 15px;
	font-family: Poppins;
	font-weight: bold;
	padding-left: 5px;
}

.normal-text {
	font-size: 15px;
	font-family: Poppins;
	font-weight: normal;
	padding-left: 5px;
}

.last-time-seen {
	align-items: center;
	display: flex;
	justify-content: left;
}

.adress {
	align-items: center;
	display: flex;
	justify-content: left;
}

.identification-traits {
	flex-direction: column;
	display: flex;
	justify-content: left;
}

.situation {
	flex-direction: column;
	display: flex;
	justify-content: left;
}

.id-header {
	width: 100%;
	display: flex;
	align-items: center;
}

.id-content {
	display: none;
}

.sit-header {
	width: 100%;
	display: flex;
	align-items: center;
}

.sit-content {
	display: none;
}

.show {
	display: block;
	padding-left: 24px;
}

.header {
	color: white;
	font-family: "Poppins", sans-serif;
	font-size: 72px;
	font-weight: bold;

	position: absolute;
	top: 508px;
	left: 158px;
}

.cards {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	padding: 0 40px;
	position: absolute;
	top: 1000px;
}
